.site-index{
    width: 100%;
    height: auto;
}
.site-index .header .row .aside-left #slideshow .carousel-item img{
    width: 110%;
}
.site-index .header .row .aside-left .title{
    width: 100%;
    margin-left: 0;
    height: 57px;
    line-height: 50px;
    text-align: center;
    background-color: white;
    padding-left: 30%;
}

.site-index .header .row .admin-right{
    width: 110%;
    height: 400px;
}
.site-index .header .row .admin-right .row-1{
    width: 100%;
    height: auto;
}
.site-index .header .row .admin-right .row-1 a img{
    width: 113%;
}
.site-index .header .row .admin-right .row-2{
    width: 100%;
    height: 250px;
}
.site-index .header .row .admin-right .row-2 .row1{
    width: 100%;
    height: 50px;
    margin-left: 0%;
}
.site-index .header .row .admin-right .row-2 .row1 .col-md-12{
    display: inline-flex;
}
.site-index .header .row .admin-right .row-2 .row1 .aside-left{
    height: 100%;
    line-height: 50px;
    color: red;
    font-weight: bold;
}
.site-index .header .row .admin-right .row-2 .row1 .admin-right{
    line-height: 50px;
    text-align: end;
    height: 100%;
    background-color: white;
}
.site-index .header .row .admin-right .row-2 {
    width: 104%;
    height: 245px;
    background-color: white;
    margin-top: 10px;

}
.site-index .header .row .admin-right .row-2 .row2 .aside-left{
    width: 100%;
    height: 60px;

}
.site-index .header .row .admin-right .row-2 .row2 .new1{
    width: 100%;
    height: 70px;
    margin-left: 0%;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-right: 10px;
}
.site-index .header .row .admin-right .row-2 .row2 .new1 img {
    width: 100%;
    height: 70px;
    margin-left: 10px;
}
.site-index .header .row .admin-right .row-2 .row2 .new1 .admin-right{
    height: 100%;
}
.site-index .header .row .admin-right .row-2 .row2 .new1 .admin-right a{
    text-decoration: none;
    color: black;
}
.site-index .header .row .admin-right .row-2 .row2 .new1 .admin-right a:hover{
    color: red;
}
.site-index .header .row .admin-right .row-2 .row2 .new1 .admin-right p{
    text-align: end;
    color: silver;
}
.site-index .header .row .admin-right .row-2 .row2 .new2{
    margin-top: 10px;
    width: 100%;
    height: 70px;
    margin-left: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-right: 10px;

}
.site-index .header .row .admin-right .row-2 .row2 .new2 img {
    width: 100%;
    height: 70px;
    margin-left: 10px;
}
.site-index .header .row .admin-right .row-2 .row2 .new2 .admin-right{
    height: 100%;
}
.site-index .header .row .admin-right .row-2 .row2 .new2 .admin-right a{
    text-decoration: none;
    color: black;
}
.site-index .header .row .admin-right .row-2 .row2 .new2 .admin-right a:hover{
    color: red;
}
.site-index .header .row .admin-right .row-2 .row2 .new2 .admin-right p{
    text-align: end;
    color: silver;
}
.site-index .body{
    width: 100%;
    height: auto;
}
.site-index .body .first-content .row{
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background-color: white;
    box-sizing: border-box;
    padding-top: 10px;
}
.site-index .body .product .menu1 {
    margin-top: 10px;
    /*background-color: yellow;*/
}
.site-index .body .product .menu1 .aside-left a{
    color: red;
}
.site-index .body .product .admin-right ul{
    display: flex;
}
.site-index .body .product .admin-right ul li{
    list-style: none;
    padding-right:10px;
}
.site-index .body .product .list-computer{
    width: 100%;
    display: block;
}
.site-index .body .product .list-computer .list{
    width: 100%;
    display: flex;
    margin: 20px auto;
}
.site-index .body .product .list-computer .list .list-item{
    width: 100%;
    height: 340px;
    background-color:white;
    position: relative;
}
.site-index .body .product .list-computer .list .list-item p{
    position: absolute;
    color: #f67e37;
    font-weight: bold;
    bottom: 0;
}
.site-index .body .product .list-computer .list .item-center{
    border-left: 1px solid #b3b7bb;
    border-right: 1px solid #b3b7bb;
}
.site-index .body .product .list-computer .list-item img{
    width: 100%;
    height: auto;
}
.site-index .body .category .lap{
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 30px;
}
.site-index .body .category .lap .menu2{
    height: 50px;
    border-bottom: 1px solid gray;
    line-height: 50px;
    margin-left: 0;
    width: 100%;
}
.site-index .body .category .lap .menu2 .aside-left p{
    /*color: red;*/
    font-weight: bold;
    margin-left: 10%;
}
.site-index .body .category .lap .menu2 .admin-right ul{
    display: flex;
    justify-content: space-between;
}
.site-index .body .category .lap .menu2 .admin-right ul li{
    list-style: none;
}
.site-index .body .category .lap .menu2 .admin-right ul li a{
    text-decoration: none;
}
.site-index .body .category .lap .menu2 .admin-right ul li a:hover{
    color: red;
}
.site-index .body .category .prod .row{
    margin-left: 0;
    width: 100%;
    background-color: white;
    height: 350px;
    margin-top: 20px;
    position: relative;
}
.site-index .body .category .prod .row h6{
    position: absolute;
    top: 200px;
    left: 15px;
    right: 15px;
}
.site-index .body .category .prod .row p{
    position: absolute;
    bottom: 10px;
    color: #f67e37;
    left: 90px;
    font-weight: bold;
}
.site-index .body .category .prod .row .col-sm-3 img{
    width: 100%;
    height: auto;
}
.site-index .body .category .prod-prog .row h6{
    position: absolute;
    top: 210px;
}

.site-index .body .category .prod .row h6{
    position: absolute;
    top: 200px;
    left: 15px;
    right: 15px;
}
.site-index .body .category .prod .row a{
    position: absolute;
    text-decoration: none;
    bottom: 10px;
    color: #f67e37;
    left: 50px;
    font-weight: bold;
}
.site-index .body .category .prod .row .col-sm-2 img{
    width: 100%;
    height: auto;
}
.site-index .body .category .prod-acces .row h6{
    position: absolute;
    top: 210px;
}
.site-index .footer{
    margin-left: 0;
    width: 100%;
}
.site-index .footer .row{
    width: 100%;
    height: 400px;
    margin-left: 0;
}
.site-index .footer .row img{
    width: 100%;
    height: 400px;
}